## .NET / Visual Studio
[Bb]in/
[Oo]bj/
publish/
*.zip
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## SQLite Database files
*.db
*.db-wal
*.db-shm

## Test Data
TestData/
testdata/

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
